*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}
body {
	font-size: 1.2em;
}

.mt-4 {
	margin-top: 4rem !important;
}

h1 {
	font-size: 2rem;
}

.box {
	border: 2px solid #333333;
	height: 100px;
}

.relative {
	position: relative;
}

.sticky-item {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	/* 装飾部分 */
	background: #ffc778;
	color: #fff;
	z-index: 1;
}

.container {
	overflow: scroll;
	position: relative;
}
.scrollable-item {
	position: absolute;
	width: 100%;
	top: 16px;
	left: 0;
	z-index: 0;
}

.absolute-item {
	position: absolute;
	top: 36px;
	left: -4px;
	margin: 0;
	/* 装飾部分 */
	background: #ffc778;
	color: #fff;
	z-index: 1;
}

.sticky-container {
	border: 2px dashed #333;
	margin-top: 10px;
	background-color: #f8f8ff;
}

.spacing-box {
	min-height: 2000px;
}

.footer {
	position: sticky;
	bottom: 0;
}

.footer-list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding: 0;
	margin-bottom: 0;
}
.footer-list li {
	flex: 1;
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px;	
}