* {
	border: 1px solid #ddd;
	margin: 0;
}

.relative {
	position: relative;
	top: 10px;
	left: 10px;
}


.parent {
	position: relative;
	padding: 20px;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.exam1 {
	position: relative;
	padding: 0;
	width: 250px;
}
.exam1 span {
	position: absolute;
	bottom: 0;
	right: 0;
}